:root {
  --bgColor: #151515;
  --textColor: #ffffff;
  --UnderLine: #4ce29d; 
}
*{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400        ;
    font-style: normal;    
    box-sizing: border-box;
}

body { 
    background-color: var(--bgColor); 
    margin: 0;
    color: var(--textColor);
    /* font-family: "Sofia", sans-serif; */
}

.wide-section{
    width: 700px;
    margin: 30px auto;
    max-width: 100%;
    padding: 0 20px;
}
.flex-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.section-half{
    width: 300px;
    max-width: 100%;
}
.bg-profile-img{
    background-image: url('../images/deepagusain.png');
    background-repeat: no-repeat;
}
.underline{
    text-decoration: underline;
    text-decoration-color: var(--UnderLine);
    text-underline-offset: 10px;
    color: var(--textColor);
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.my-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.flex{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 24px;
    margin: 0 0 10px;
}
.mx-5{
    margin-left: 5px;
    margin-right: 5px;
}
.profile-img{
    border-radius: 50%;
    object-fit: cover;
    background-attachment: fixed;
    padding: 5px;
    box-shadow: 3px 3px 7px var(--UnderLine);
}
/* background: */
progress::-webkit-progress-bar {background-color: #242424; width: 100%;
    border-radius: 5px;}
progress {background-color: #242424;
    border-radius: 5px;}

/* value: */
progress::-webkit-progress-value {background-color: var(--UnderLine) !important;
    border-radius: 5px;}
progress::-moz-progress-bar {background-color: var(--UnderLine) !important;
    border-radius: 5px;}
progress {color: var(--UnderLine);
    height: 5px;}

@media only screen and (max-width: 650px) {
    .col-reverse-mobile{
        flex-direction: column-reverse;
    }
}